@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: url("/assets/pen.png") 3 43, auto;
  overflow: hidden;
  font-family: 'Poppins', sans-serif;
}
img,
section {
  cursor: pointer;
}
#page {
  position: relative;
  width: auto;
}
.row {
  width: 9vh;
  height: 100vh;
  cursor: pointer;
  z-index: 0.2;
  left: 0%;
  margin-left: 1vh;
  margin-top: 1vh;
  margin-right: 3vh;
  align-items: center;
}
.option {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: absolute;
  cursor: pointer;
  margin: 6px;
  left: -1.5vh;
  top: -5vh;
  bottom: -2vh;
  background-color: rgb(32, 32, 31);
  border: 4px solid #77796f;
}
#select_thickness {
  height: 40px;
  width: 40px;
  align-self: center;
  cursor: pointer;
}
.btn {
  height: 48px;
  width: 48px;
  border-radius: 40%;
  background-color: rgb(255, 255, 255);
  cursor: pointer;
  padding: 3%;
  align-items: center;
  margin: 1vh;
}
.btn:hover {
  border: 2vh rgb(167, 157, 157);
  size: 150%;
  height: 53px;
  width: 53px;
  padding: 10%;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  margin: 0.5vh;
}
.round {
  display: flex;
  height: 50px;
  width: 50px;
  border-radius: 40%;
  cursor: pointer;
  margin-bottom: 1vh;
}
.colour_dots {
  height: 80vh;
  width: 8vh;
  flex-direction: column;
  cursor: pointer;
  align-items: center;
  margin: 1vh;
}
.round:hover {
  display: flex;
  height: 54px;
  width: 54px;
  border-radius: 50%;
  cursor: pointer;
  margin: 0.1vh;
  margin-bottom: 1vh;
}
#bgcolor {
  cursor: pointer;
  padding: 0%;
}

.eraser-btn {
  height: 35px;
  width: 35px;
  align-items: center;
  cursor: pointer;
}
small{
  color: rgb(255, 255, 255);
  font-size: small;
  padding-bottom: 10px;
}
