@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  /* border: 1px solid black; */
}

.color-purple {
  color: #8367c7;
}
.navbar {
  height: 64px;
  line-height: 64px;
  color: #8367c7;
  background-color: #fff;
  position: fixed;
  width: 100%;
  box-shadow: 0px 0px 30px 0.1px rgb(0 0 0 / 25%);
  z-index: 1;
}
.navbar .container {
  max-width: 1300px;
  margin: 0px auto;
}
.navbar img {
  height: 64px;
  box-sizing: border-box;
  padding: 5px;
  float: left;
}
.navbar h2 {
  float: left;
}

.navbar .navbar-nav {
  float: right;
}
.navbar .navbar-nav .navbar-item {
  font-weight: 500;
  font-size: 20px;
  margin: 0px 20px;
  color: #8367c7;
  text-decoration: none;
}
/* Landing Starts */
.landing {
  height: 100vh;
  display: flex;
}
.landing .img {
  background-image: url(/img/hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 40%;
  height: 100%;
}

.landing .text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60%;
  padding: 0px 100px;
}

.landing .title {
  font-size: 42px;
  color: #39393a;
  font-weight: 500;
}

.landing .subtitle {
  max-width: 500px;
  opacity: 0.7;
  font-size: 20px;
  font-weight: 500;
  margin-top: 20px;
}
/* Contact Form Starts */
.contact .title {
  text-align: center;
  margin: 50px 0px;
}
.contact .title h2 {
  border-bottom: 5px solid #8367c7;
  padding: 10px;
  display: inline-block;
}

.contact .form {
  max-width: 800px;
  box-shadow: 20px 20px 60px #d9d9d9, -20px -20px 60px #ffffff;
  margin: 0px auto;
  padding: 60px 40px;
}
.contact .form .form-control {
  margin: 20px 0px;
}
.contact .form .form-control label {
  font-weight: 600;
  opacity: 0.7;
  font-size: 18px;
}

.contact .form .form-control input,
.contact .form .form-control textarea {
  width: 100%;
  box-sizing: border-box;
  font-weight: 500;
  padding: 10px;
  outline: none;
  border: 1px solid #cdcaed;
}
.contact .form .form-control textarea {
  height: 300px;
}
.contact .form .form-control input:focus,
.contact .form .form-control textarea:focus {
  background-color: #8267c72f;
  border: 1px solid #8367c7;
  outline: none;
}

.contact .form .submit-btn {
  background-color: #8367c7;
  color: #fff;
  padding: 10px 20px;
  outline: none;
  font-weight: 500;
  border: none;
  font-size: 18px;
  cursor: pointer;
}
.footer {
  margin-top: 100px;
  background-color: #cec7d7;
  text-align: center;
  padding-top: 20px;
  opacity: 0.8;
}
.footer .email {
  font-size: 20px;
  padding: 10px 0px;
  font-weight: 600;
}
.footer .email a {
  color: inherit;
  text-decoration: none;
}
.footer .social {
  padding-bottom: 20px;
}
.footer .social i {
  padding: 0px 5px;
  font-size: 24px;
}

.footer .copyright {
  background-color: #8367c7;
  color: #fff;
  font-weight: 500;
  font-size: 14px;
  padding: 5px;
}